In [15]:
import pandas as pd

In [ ]:
#original dataset URL: https://www.kaggle.com/datasets/diishasiing/revenue-for-cab-drivers

In [35]:
dtypes = {'VendorID':'int',
          'tpep_pickup_datetime':'str',
          'tpep_dropoff_datetime':'str',
          'passenger_count':'int',
          'trip_distance':'float',
          'RatecodeID':'int',
          'store_and_fwd_flag':'str',
          'PULocationID':'int',
          'DOLocationID':'int',
          'payment_type':'float',
          'fare_amount':'float',
          'extra': 'float',
          'mta_tax':'float',
          'tip_amount':'float',
          'tolls_amount':'float',
          'improvement_surcharge':'float',
          'total_amount':'float',
          'congestion_surcharge':'float'}

In [39]:
data = pd.read_csv(r'C:\Users\dorot\OneDrive\Documents\Grad School\BU\Build Project- Cab Fare Prediction\yellow_tripdata_2020-01.csv')
data.head()

C:\Users\dorot\AppData\Local\Temp\ipykernel_17388\2394961613.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\dorot\OneDrive\Documents\Grad School\BU\Build Project- Cab Fare Prediction\yellow_tripdata_2020-01.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 879.6+ MB

In [51]:
rows = data.shape[0]
cols = data.shape[1]
print(f"Rows: {rows}")
print(f"Columns: {cols}")

Rows: 6405008
Columns: 18

In [27]:
test = data['passenger_count'].unique()
test

array([ 1.,  4.,  2.,  3.,  6.,  5.,  0.,  8.,  7.,  9., nan])

In [ ]:
# Columns descriptions (credit to original Kaggle dataset description):
# VendorID: A unique identifier for the taxi vendor or service provider.
# tpep_pickup_datetime: The date and time when the passenger was picked up.
# tpep_dropoff_datetime: The date and time when the passenger was dropped off.
# passenger_count: The number of passengers in the taxi.
# trip_distance: The total distance of the trip in miles or kilometers.
# RatecodeID: The rate code assigned to the trip, representing fare types.
# store_and_fwd_flag: Indicates whether the trip data was stored locally and then forwarded later (Y/N).
# PULocationID: The unique identifier for the pickup location (zone or area).
# DOLocationID: The unique identifier for the drop-off location (zone or area).
# payment_type: The method of payment used by the passenger (e.g., cash, card).
# fare_amount: The base fare for the trip.
# extra: Additional charges applied during the trip (e.g., night surcharge).
# mta_tax: The tax imposed by the Metropolitan Transportation Authority.
# tip_amount: The tip given to the driver, if applicable.
# tolls_amount: The total amount of tolls charged during the trip.
# improvement_surcharge: A surcharge imposed for the improvement of services.
# total_amount: The total fare amount, including all charges and surcharges.
# congestion_surcharge: An additional charge for trips taken during high traffic congestion times

In [67]:
data.isna().sum()

VendorID                 65441
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          65441
trip_distance                0
RatecodeID               65441
store_and_fwd_flag       65441
PULocationID                 0
DOLocationID                 0
payment_type             65441
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64

In [81]:
d1 = data.dropna(subset=['passenger_count'])
rows = d1.shape[0]
cols = data.shape[1]
print(f"Rows: {rows}")
print(f"Columns: {cols}")

Rows: 6339567
Columns: 18

In [83]:
d1.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64